body {
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-color: #32586e;
    width: 100vh;
    height: 100vh;
}

.display {
    background-color: #4b85a7;
    height: 20vh;
    width: 20vh;
}