body{
    background-color: #aebec9;
}
.container{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #2b2626;
    background-color: #aec9b4;
}
.item{
    flex: 1;
    padding: 22px 8px;
    background-color: #b8aec9;
    border: 1px solid #000;
}
.col{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col .item{
    padding: 20px 140px;
}