

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background-color: #1f2937;
    padding: 0px 10%;
}
/* Fonts */
/* Header link text */
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
/* Main text */
.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
/* header logo text */
.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
#navbar ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;    
}
#main .container{
    height: 50vh;
}
#main .item{
    flex: 1;
    font-size: 1.5rem;
    padding: 8px;
}
#main p{
    padding: 8px 0px;
}
button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 30px;
    border: 0 solid;
    border-radius: 5px;
    font-weight: 700;    
}
#main img{
    width: 40vh;
}

#info{
    margin-top: 20px;    
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info img{
    border-radius: 20px;
    border: 2px solid #3882f6;
    padding: 60px;
}

#info .container{
    display: flex;
    margin: 60px;
    gap: 20px;
}

#info p{
    width: 120px;
    text-align:center;    
    font-size: 0.8rem;
    color: #4d4d4d;
}

#quote{
    background-color: #e5e7eb;
    padding: 60px 10%;
}
#quote span{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
#quote h2{
    text-align: end;
}
#call{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 60px 8%;
    color: #F9FAF8;
    padding: 40px;
    border-radius: 10px;
}
#call button{
    border: 2px solid #E5E7EB;
    padding: 5px 20px;
}